header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 5%;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 140%;
}

aside {
    text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.RM {
    color:rgb(35, 169, 218)
}

.J {
    color: rgb(216, 50, 50)
}

.S {
    color:rgb(227, 98, 169)
}

.JH {
    color:rgb(146, 98, 170)
}

.JM {
    color:rgb(240, 161, 51)
}

.V {
    color:rgb(101, 150, 71)
}

.JK {
    color:rgb(131, 215, 196)
}

.JKJM {
     color:rgb(131, 215, 196);
     background-color: rgb(240, 161, 51, 0.2);

}

.VJ {
    color:rgb(101, 150, 71);
    background-color: rgb(216, 50, 50, 0.2);
}

.section {
    font-size: smaller;
    font-weight: normal;
}