* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:rgb(243, 228, 246);
}

header {
    text-align: center;
    margin: 4rem 0;
    background: white;
    padding: 2rem;
    border-top: 2px solid rgb(127, 76, 149);
    border-bottom: 2px solid rgb(127, 76, 149);
}

h1 {
    color: rgb(127, 76, 149);
    margin-bottom: 1rem;
    font-size: 40px;
}

h4 {
    font-weight: normal;
    font-size: 24px;
}

section {
    background: white;
    width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 40px;
    border: 2px solid rgb(127, 76, 149);
}

h2 {
    color: rgb(127, 76, 149);
    margin: 1rem 1rem 1.5rem;
    text-transform: uppercase;
}

h3 {
    color: rgb(127, 76, 149);
    margin: 1.5rem 1rem 1rem;
    font-weight: 600;
    font-family: monospace;
    font-size: 13px;
}

p {
    font-size: 24px;
    margin: 1rem 1rem 1.5rem;
}